


:root {
  --verde-saturado:#13FF04;
  --ciano-claro:   #02E351;
  --verde-escuro:  #168F4C;
  --preto:         #012404;
  --branco:        #C0F5B4;

  --font: "Quicksand", "comic-sans", sans-serif;

  --color1: var(--branco);
  --color2: var(--verde-escuro);
  --color3: var(--preto);
  --color4: var(--ciano-claro);

  --border-radius: 10px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color1: var(--preto);
    --color2: var(--ciano-claro);
    --color3: var(--branco);
    --color4: var(--verde-escuro)
  
    --font-color: var(--branco);
  }
}


* {
  font-family: var(--font), serif;
  margin: 0;
  padding: 0;
}



body {
  background-color: var(--color1);
}

h1, h2, h3, h4, h5, h6, p, ul, li, a {
  background: unset;
  font-weight: 900;
  text-decoration: none;
} 

h1 {
  font-size: 32pt;
}

