


:root {
  --verde-saturado: #0dcd3d;
  --ciano-claro: #07c76a;
  --preto: #0F3418;
  --branco:   #c2f6c2;

  --font: "Quicksand", "comic-sans", sans-serif;

  --color1: var(--ciano-claro);
  --color2: var(--preto);
  --color2-inv: var(--branco);

  --foreground: var(--color1);
  --background: var(--branco);
  --font-color: var(--preto);

  --border-radius: 10px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color2: var(--branco);
    --color2-inv: var(--preto);
    
    --foreground: var(--color1);
    --background: var(--preto);
  
    --font-color: var(--branco);
  }
}


* {
  font-family: var(--font), serif;
  margin: 0;
  padding: 0;
  color: var(--color1);
}



body {
  background-color: var(--background);
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  background: unset;
  font-weight: 900;
  color: var(--font-color);
} 

h1 {
  font-size: 32pt;
}

