@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-1: #00C932;
  --color-2: #80FFAE;
  --color-3: #0F3418;
  --background:   #e0ffe0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-1: #80FFAE;
    --color-2: #00C932;
    --background: #182f18;
  }
}

body {
  color: var(--color-3);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
